


<h1>All Categories</h1>
<table style="width:100%">
<tr>

<td style="width:30%;" valign="top" >
<table  border="10">

  

<% @categories.each do |category| %>
  <tr>
    <td><b>Category  <%= category.catName %></b></td>
           <td><%= link_to 'Show', category %></td>
           <td><%= link_to 'Edit', edit_category_path(category) %></td>
           <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
    
       	    <% category.posts.each do |post| %>
 </tr>


	       <tr>
                 <td><%= link_to post.name, post %></td>

    <% if session[:user_id] == 'null' %>
		<td>Not </td>
		<td> Admin </td>
	<% else %>

		 <td> <%= link_to 'Edit', edit_post_path(post) %> </td>
                  <td> <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %> </td>
  <% end %>

                 

	      </tr>

	    <% end %>
	<tr>
		<td>
		<br/>
		</td>
	<tr/>


<% end %>
</table>
</td>


<td style="width:100%;" valign="top";>
<table border=10 style="width:100%">
<tr>
<td>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>



<h2>Add a comment:</h2>

<%= render "comments/form" %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</td>
</tr>
</table>
</td>
</tr>
</table>
<br/>

<%= link_to 'New Category', new_category_path %> | <%= link_to 'All Posts', posts_path %> 













































