<h1>All Categories</h1>

<table>


  

<% @categories.each do |category| %>
  <tr>
    <td><b>Category  <%= category.catName %></b></td>
           <td><%= link_to 'Show', category %></td>
           <td><%= link_to 'Edit', edit_category_path(category) %></td>
           <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
    
       	    <% category.posts.each do |post| %>
 </tr>


	       <tr>
                  <td><%= post.name %></td>
		  <td><%= link_to 'Show', post %></td>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                  <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>

	      </tr>

	    <% end %>
<tr>
<td>
<br/>
</td>
<tr/>


<% end %>
</table>

<br/>

<%= link_to 'New Category', new_category_path %> | <%= link_to 'All Posts', posts_path %> 

